
@{
	Layout = "~/Views/Shared/_Layout_Home.cshtml";
	ViewBag.Title = "Home Page";
}



<!-- Masthead-->
<header class="masthead">
	<div class="container h-100">
		<div class="row h-100 align-items-center justify-content-center text-center">
			<div class="col-lg-10 align-self-end">
				<h2 class="text-uppercase text-white font-weight-bold">Bienvenido</h2>
				<h1 class="text-uppercase text-white font-weight-bold">Cesar Gutierrez</h1>
				<hr class="divider my-4" />
			</div>
			<div class="col-lg-8 align-self-baseline">
				<p class="text-white-75 font-weight-light mb-5">HELPTICKET</p>
				<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Empezar</a>
			</div>
		</div>
	</div>
</header>
<!-- About section-->
<section class="page-section bg-primary" id="about">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="text-white mt-0">HELPTICKET</h2>
				<hr class="divider light my-4" />
				<p class="text-white-50 mb-4">HELPTICKET es una aplicacion web que permite  generar y gestionar tickets  para la solucion de problemas que presentan los clientes .Asimismo estoa tickets son atendidos por trabajadores  segun el topico que en el que se especialicen.Finalmente Esta aplicacion sera gestionada por un Administrador que podra asignar tickets .</p>
				@*<a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>*@
			</div>
		</div>
	</div>
</section>
<!-- Services section-->
<section class="  bg-secondary text-white page-section"id="portfolio">
	<div class="container">
		<h2 class="text-center mt-0">Módulos de HELPTICKET</h2>
		<hr class="divider my-4" />
		<div class="container-fluid p-0">

			<div class="row no-gutters">
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" data-toggle="modal" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;" href="@Url.Action("Cliente", "Home")">
						<img class="img-fluid" src="~/ContentHome/assets/img/portfolio/thumbnails/1.jpg" alt="" />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Modulo</div>
							<div class="project-name">Cliente</div>
						</div>

					</a>
					
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" data-toggle="modal" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;" href="#">
						<img class="img-fluid" src="~/ContentHome/assets/img/portfolio/thumbnails/2.jpg" alt="" />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Módulo</div>
							<div class="project-name">Administrador</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" data-toggle="modal" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;" href="#">
						<img class="img-fluid" src="~/ContentHome/assets/img/portfolio/thumbnails/3.jpg" alt="" />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Modulo</div>
							<div class="project-name">Trabajador</div>
						</div>
					</a>
				</div>

			</div>
		</div>


	</div>
</section>

<!-- Call to action section-->
@*<section class="page-section bg-dark text-white">
	<div class="container text-center">
		<h2 class="mb-4">Free Download at Start Bootstrap!</h2>
		<a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Download Now!</a>
	</div>
</section>*@
<!-- Contact section-->
<section class="page-section bg-dark text-white " id="contact">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="mt-0">Contact</h2>
				<hr class="divider my-4" />
				<p class="text-muted mb-5">Si presenta algun tipo de problema puede comunicarse mediante nuestro correo.</p>
			</div>
		</div>
		<div class="row">
			
			<div class="col-lg-12 mr-auto text-center">
				<i class="fas fa-envelope fa-3x mb-3 text-muted"></i><!-- Make sure to change the email address in BOTH the anchor text and the link target below!--><a class="d-block" href="HelpTicketWeb@outlook.com">HelpTicketWeb@outlook.com</a>
			</div>
		</div>
	</div>
</section>